body {
  text-align: center;
  box-sizing: border-box;
  background-color: #ebebeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Box1 {
  max-width: 600px;
  margin-inline: auto;
  margin-block-start: 3rem;
  background-color: white;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
}
